<a href="https://colab.research.google.com/github/kbrlslm/Data-Science-Project/blob/main/Clean_NYPD_ARREST_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import Libraries
import pandas as pd
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Download the dataset from google drive
!gdown 19KpujBMG_9h0qvcyK4W6jjZH8rksACM5

Downloading...
From: https://drive.google.com/uc?id=19KpujBMG_9h0qvcyK4W6jjZH8rksACM5
To: /content/NYPD_Arrests_Data.csv
100% 1.13G/1.13G [00:05<00:00, 221MB/s]

In [3]:
# Create Data frame ans see the data
data = pd.read_csv('NYPD_Arrests_Data.csv')
data.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,32311380,06/18/2007,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27,1.0,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN
1,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)
2,193260691,02/06/2019,NaN,NaN,NaN,NaN,PL 2203400,F,M,14,0.0,25-44,M,UNKNOWN,986685.0,215375.0,40.757839,-73.991212,POINT (-73.99121211099998 40.75783900300007)
3,149117452,01/06/2016,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,67,0.0,25-44,M,BLACK,998032.0,175598.0,40.648650,-73.950336,POINT (-73.95033556299995 40.648650085000035)
4,190049060,11/15/2018,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0.0,25-44,M,BLACK,1003606.0,185050.0,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)

In [4]:
# find NA value of each column
data.isnull().sum()

ARREST_KEY               0
ARREST_DATE              0
PD_CD                  284
PD_DESC               9066
KY_CD                 9066
OFNS_DESC             9066
LAW_CODE               196
LAW_CAT_CD           18861
ARREST_BORO              8
ARREST_PRECINCT          0
JURISDICTION_CODE       10
AGE_GROUP               17
PERP_SEX                 0
PERP_RACE                0
X_COORD_CD               1
Y_COORD_CD               1
Latitude                 1
Longitude                1
Lon_Lat                  1
dtype: int64

In [5]:
# delete unnecessary data for the project
data.drop(['ARREST_KEY','PD_CD','PD_DESC','KY_CD','LAW_CODE',
            'JURISDICTION_CODE','X_COORD_CD','Y_COORD_CD','Latitude','Longitude', 'Lon_Lat'],axis=1,inplace=True)
data

,ARREST_DATE,OFNS_DESC,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,AGE_GROUP,PERP_SEX,PERP_RACE
0,06/18/2007,DANGEROUS DRUGS,M,Q,27,18-24,M,BLACK
1,01/26/2019,SEX CRIMES,F,M,25,45-64,M,BLACK
2,02/06/2019,NaN,F,M,14,25-44,M,UNKNOWN
3,01/06/2016,RAPE,F,K,67,25-44,M,BLACK
4,11/15/2018,RAPE,F,K,77,25-44,M,BLACK
...,...,...,...,...,...,...,...,...
5153364,01/08/2020,CRIMINAL MISCHIEF & RELATED OF,F,M,1,25-44,M,BLACK HISPANIC
5153365,01/01/2020,ASSAULT 3 & RELATED OFFENSES,M,K,90,<18,M,BLACK
5153366,01/11/2020,PETIT LARCENY,M,M,13,25-44,M,WHITE
5153367,01/01/2020,FELONY ASSAULT,F,Q,111,45-64,M,BLACK
5153368,01/02/2020,DANGEROUS WEAPONS,M,Q,115,25-44,M,BLACK

In [6]:
# copy the dataset
data_clean = data.copy()

In [8]:
    # convert to datetime object
    data_clean['ARREST_DATE'] = pd.to_datetime(data_clean['ARREST_DATE'])

In [10]:
# drop any rows with nulls
data_clean=data_clean.dropna()

In [12]:
# sort data by date
data_clean.sort_values(by=['ARREST_DATE'], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [14]:
# Rename the attribute name
data_clean['OFFENCE_LEVEL'] = data_clean['LAW_CAT_CD'].map({ 'F': 'Felony',
                                                                    'M': 'Misdemeanor',
                                                                    'V': 'Violation',
                                                                    'I': 'Infractions' })

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [15]:
# Rename the Borough
data_clean['ARREST_BORO'] = data_clean['ARREST_BORO'].map({ 'K': 'Brooklyn',
                                                                'B': 'Bronx',
                                                                'M': 'Manhattan',
                                                                'Q': 'Queens',
                                                                'S': 'Staten Island' })

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
data_clean.head()

,ARREST_DATE,OFNS_DESC,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,AGE_GROUP,PERP_SEX,PERP_RACE,OFFENCE_LEVEL
646207,2006-01-01,OFFENSES AGAINST PUBLIC ADMINISTRATION,M,Manhattan,9,25-44,M,ASIAN / PACIFIC ISLANDER,Misdemeanor
643649,2006-01-01,OFFENSES AGAINST PUBLIC ADMINISTRATION,M,Brooklyn,73,25-44,M,BLACK,Misdemeanor
647942,2006-01-01,DANGEROUS DRUGS,F,Brooklyn,79,45-64,M,BLACK,Felony
647951,2006-01-01,OFF. AGNST PUB ORD SENSBLTY & RGHTS TO PRIV,M,Brooklyn,72,45-64,F,ASIAN / PACIFIC ISLANDER,Misdemeanor
649852,2006-01-01,CRIMINAL TRESPASS,M,Bronx,43,25-44,F,BLACK,Misdemeanor

In [18]:
# Drop 'LAW_CAT_CD'
data_clean.drop(['LAW_CAT_CD'],axis=1,inplace=True)

,ARREST_DATE,OFNS_DESC,ARREST_BORO,ARREST_PRECINCT,AGE_GROUP,PERP_SEX,PERP_RACE
0,06/18/2007,DANGEROUS DRUGS,Q,27,18-24,M,BLACK
1,01/26/2019,SEX CRIMES,M,25,45-64,M,BLACK
2,02/06/2019,NaN,M,14,25-44,M,UNKNOWN
3,01/06/2016,RAPE,K,67,25-44,M,BLACK
4,11/15/2018,RAPE,K,77,25-44,M,BLACK
...,...,...,...,...,...,...,...
5153364,01/08/2020,CRIMINAL MISCHIEF & RELATED OF,M,1,25-44,M,BLACK HISPANIC
5153365,01/01/2020,ASSAULT 3 & RELATED OFFENSES,K,90,<18,M,BLACK
5153366,01/11/2020,PETIT LARCENY,M,13,25-44,M,WHITE
5153367,01/01/2020,FELONY ASSAULT,Q,111,45-64,M,BLACK
5153368,01/02/2020,DANGEROUS WEAPONS,Q,115,25-44,M,BLACK

In [19]:
data_clean.head()

,ARREST_DATE,OFNS_DESC,ARREST_BORO,ARREST_PRECINCT,AGE_GROUP,PERP_SEX,PERP_RACE,OFFENCE_LEVEL
646207,2006-01-01,OFFENSES AGAINST PUBLIC ADMINISTRATION,Manhattan,9,25-44,M,ASIAN / PACIFIC ISLANDER,Misdemeanor
643649,2006-01-01,OFFENSES AGAINST PUBLIC ADMINISTRATION,Brooklyn,73,25-44,M,BLACK,Misdemeanor
647942,2006-01-01,DANGEROUS DRUGS,Brooklyn,79,45-64,M,BLACK,Felony
647951,2006-01-01,OFF. AGNST PUB ORD SENSBLTY & RGHTS TO PRIV,Brooklyn,72,45-64,F,ASIAN / PACIFIC ISLANDER,Misdemeanor
649852,2006-01-01,CRIMINAL TRESPASS,Bronx,43,25-44,F,BLACK,Misdemeanor

In [20]:
#Export the dataset
data_clean.to_csv('data_clean.csv', index = False)